$color-selected-tab: blue;
$color-legacy-selected-tab: red;

.header__tab {
   border-bottom: 1px solid transparent;

   &:hover {
      border-bottom: 1px solid $color-selected-tab;
   }
}

.header__tab-selected {
   border-bottom: 1px solid $color-selected-tab;

   .interim & {
      border-bottom: 1px solid $color-legacy-selected-tab;
   }
}